= simple_form_for lab do |f|
  %fieldset
    %legend Basic Information

    = f.input :country_code, label: 'Country'
    = f.input :name
    #map
    = f.input :address, input_html: { id: 'geocomplete' }
    = f.input :postal_code
    = f.input :latitude, as: 'hidden'
    = f.input :longitude, as: 'hidden'

  %fieldset
    %legend Contact Details

    = f.input :phone_number
    / = f.input :website
    / = f.input :description

  %fieldset
    %legend Lab Facilities
    = f.input :kind, collection: Lab.kinds_for_select, include_blank: false

    %fieldset
      %legend Tools
      %ul#tools
        - Tool.all.each do |tool|
          %li
            %h4= tool
            / = check_box_tag :included
            = text_area_tag :description

  %fieldset
    %legend Opening Hours
    %table#opening_hours

      / / what I want
      / = f.simple_fields_for :opening_times do |t|
      /   %tr{class: "day#{index} day"}
      /     %th
      /       /= Date::ABBR_DAYNAMES[index]
      /     %td
      /       .times
      /          = f.input :start_minute, as: 'time'
      /          = f.input :end_minute, as: 'time'
      /     %td
      /       = f.input :closed, as: 'boolean', label: 'Closed'

      / - f.object.opening_times.each_with_index do |opening_time, index|
      /   = f.simple_fields_for :opening_times, opening_time do |t|
      /     %tr{class: "day#{index} day"}
      /       %th= Date::ABBR_DAYNAMES[index]
      /       %td
      /         .times
      /           = t.input_field :start_minute, as: 'select', collection: (0..47).map{|hour| hour*30 + (index * Time.minutes_in_a_day) }.each.collect{ |hour| [Time.at(hour * 60).utc.strftime("%H:%M"), hour]}
      /           \-
      /           = t.input_field :end_minute, as: 'select', collection: (0..47).map{|hour| hour*30 + (index * Time.minutes_in_a_day) }.each.collect{ |hour| [Time.at(hour * 60).utc.strftime("%H:%M"), hour]}
      /       %td
      /         = t.input :closed, as: 'boolean', label: 'Closed'
      /       / %td
      /       /   - if index == 0
      /       /     = link_to "↓ Apply to all", "#", id: 'apply-to-all'

  / %fieldset
  /   %legend Photos

  %fieldset
    %legend Misc
    = f.input :notes

  / = f.input :state, collection: @lab.state_paths.to_states
  .actions
    = f.submit
