= simple_form_for @lab do |f|
  = f.input :name
  = f.input :address
  = f.input :postal_code
  / = f.input :country_code do
  / = f.country_select :country_code, { object: f.object, prompt: "Country" }
  .actions
    = f.submit
